.escrow-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.escrow-container button {
  margin: 10px;
  padding: 10px;
  border: none;
  background: #f2b705;
  cursor: pointer;
  border-radius: 8px;
}